<div class="ui grid">
    <div class="row">
        <div class="text-center thirteen wide column">
            <h1>Words for Category {{currentCategory}}</h1>
        </div>
        <div class="three wide column">
            <span>Your Score:{{score}} <br/>With {{clickCount}} click(s) </span>
          
        </div>
    </div>
    
    <div class="row" >
    <div class="container">
        <div class="text-center">
            <h2>Select a Tamil word that matches </h2> 
            <!-- items being paged -->
            
           <div *ngFor="let item of pagedItems"><h3>{{item.Name}}</h3>
              <div class="ui three column grid" >
                <div class="column" *ngFor="let answer of answers; let i=index">
                    <div class="btn-group" >
                        <button  (click)="isAnswer(item.Name,answer.Name)" class="btn"  
                        [class.disabled]="isTheAnswer" [style.color]="isTheAnswer?'green':'red'"
                          value="{{answer.Name}}" id="{{i+1}}">{{answer.TamilWord__c}}
                         </button>
                    </div>
                </div>
              </div>
            </div>
            <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
   </div>

</div>


